body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(90deg, rgba(68,95,189,1) 0%, rgba(78,78,221,1) 17%, rgba(0,212,255,1) 100%);}*/
}  

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/*general shared css attributes*/
h2 {
  text-align: center;
}

h1 {
	color: #272341;
  font-size: 4rem;
  padding: 20px;
}

h1 span {
	color: #2fb6dff7;
}

p {
  font-family: sans-serif;
}

img {
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.3);
}

.wrapper {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

/*Header section*/
.headerSection {
  height: 100vh;
  margin-top: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}



/*About section*/
#aboutSection, #projectSection {
  /*padding: 150px 0;*/
}

.aboutSection {
  /*display: grid;*/
  /*grid-template-areas: 1fr 1fr 1fr 1fr;*/
  background: rgba(68,95,189,1);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /*display: flex;*/
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  /*margin: 0 auto;*/
  /*height: 70vh;*/
  padding: 20px;
  padding-bottom: 15rem;
}

.aboutSection .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.aboutSection h2 {
  color: #f6fffe;
  font-size: 2.5rem;
}

.aboutSection p {
  color: #f6fffe;
  font-size: 1.75rem;
  font-style: italic;
  margin: 0;
  padding: 2rem;
}

.aboutImg {
  width: 250px;
  /*height: 275px;*/
  border-radius: 5px;
}



/*Icons section*/
.icons {
  font-size: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /*grid-gap: 10px;*/
  /*justify-content: center;*/
}

.icons svg {
  position: absolute;
  /*top: 20%;*/
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.icons .container {
  position: relative;
}

#progressContainer {
  color: #f6fffe;
  width: 100px;
  height: 100px;
  position: relative;
}

.progressBar {
  animation-duration: 1.4s;
  animation-name: progressBar;
}

@keyframes progressBar {
  0% { stroke-dashoffset: 340; }
  100% { stroke-dashoffset: 96; }
}


/*.icons svg:nth-child(1), .icons svg:nth-child(2) {
  padding: 20px 26px;
}

.icons svg:nth-child(3), .icons svg:nth-child(5) {
  padding: 20px 23px;
}*/


/*pie chart icons*/
.pie {
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.innerCircle {
  width: 80px;
  height: 80px;
  background: rgba(68,95,189,1);
  border-radius: 50%;
  position: absolute;
  top: 5.5%;
  left: 6%;
  right: 5.5%;
  bottom: 5.5%;
}

.triangle90 {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 50px solid rgba(68,95,189,1);
  position: absolute;   
  bottom: 50%;
  left: 33%;
  transform: rotate(25.5deg);
}

.triangle80 {
  border-left: 25px solid transparent;
  border-right: 80px solid transparent;
  border-top: 50px solid rgba(68,95,189,1);
  position: absolute;   
  bottom: 50%;
  left: 33%;
  transform: rotate(25.5deg);
}




/*Project section*/
#projectSection {
/*-webkit-clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);*/
/*padding: 25px 0;*/
/*margin-top: 50px;*/
}

.projectSection {

}

.projectSection h2 {
  color: #272341;
  font-size: 2.5rem;
  text-align: center;
}

.projectSection h3 {
  font-weight: 600;
}

.projectSection p {
  font-size: 1.15rem;
}

.projectCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 50px 200px 150px;
  max-width: 75%;
  margin: 0 auto;
  padding: 65px;
  text-align: left;
}

.projectCard p, .projectCard h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.projectCard .seeLiveLink, .projectCard .souceCodeLink {
  grid-row-start: 3;
  /*grid-column-start: 1;*/
  /*display: contents;*/
}

.projectCard .sourceCodeLink {
  grid-column-start: 2;
}

.projectCard button {
  padding: .65rem;
  border-radius: 5px;
}

.projectCard a:last-child {
  grid-column-start: 2;
}

.projectCard a, .projectCard button {
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.projectCard button:hover {
  cursor: pointer;
  background: #2fb6dff7;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.projectCard figure {
  max-width: 100%;
  width: 100%;
  margin: 0;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}

.projectCard img {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
  max-width: 100%;
}

.projectSection h3 {
  font-size: 1.5rem;
  margin: 0;
}

.projectSection button {
  border: 2.5px solid #2fb6dff7;
  color: #2fb6dff7;
  font-weight: bold;
  background: #f6fffe;
  max-width: content;
  max-height: content;
}




/*Contact section*/
.contactSection {
  -webkit-clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
  margin-top: 50px;
  padding: 5rem;
  background: rgba(68,95,189,1);
}

.contactSection h2 {
  color: #f6fffe;
  font-size: 2.5rem;
  text-align: center;
  /*margin: 0 auto;*/
}

.contactSection .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactSection p {
  /*margin: 0;*/
  font-size: 1.75rem;
  color: #f6fffe;
  /*text-align: center;*/
}

form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
  max-width: 500px;
  width: -webkit-fill-available;
}

.contact label {
  overflow: hidden;
}

textarea {
  height: 5rem;
}

input, textarea {
  padding: 0.75rem;
}

button[type=submit] {
  width: 100px;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 5px;
  border: none;
  box-shadow: 0.5rem 0.5rem 0.9rem rgba(0,0,0,0.3);
  font-family: sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
}

input[type=name], label[for=name] {
  grid-column-start: 1;
  grid-row-start: 1;
}

input[type=email], label[for=email] {
  grid-column-start: 2;
  grid-row-start: 1;
}

textarea, label[for=message] {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
